
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.form-len {
 width: 300px;
}

.navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.login-modal {
  margin-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
}

.login-error {
  margin-left: 5%;
  margin-right: 5%
}

.login-button {
  width: 100px;
  margin: 5%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  /*border: 2px solid green;*/
  /*width: 100%;*/
  display: flex;
  flex-direction: row;
}
